@font-face{
  font-family:"Toony";
  src: url(Toony\ Black.ttf)
}

body{
  margin: 0;
  box-sizing: border-box;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(192, 42, 42);
  
}
h1{
  font-family:"Toony" ;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 30px;
  
}

table {
  border-collapse: collapse;
  margin: 10% auto;
  background-color: white;
}
td {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border: 5px solid #000;
  cursor: pointer;
}